/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
a:hover
{
	text-decoration:none !important;
	color:#4be948 !important;	
}
.navbar
{
	border-bottom:3px solid #4ab848 !important;
}
header h1
{
	padding-top:10px !important;	
}
.logininfo
{
	height:70px !important;
	line-height:70px !important;
}
.logininfo, .logininfo a:link, .logininfo a:visited, .logininfo a:focus
{
	color:#ffffff;	
}